<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6  bg-white p-5 m-5 shadow">
    <h1 class="d-flex justify-content-center annonce-titre">Créez ton annonce ! 😎</h1>
    <%= simple_form_for @game do |f| %>
    <%= f.input :name,
                placeholder: "Nom du jeu",
                label: "Jeu" %>
    <%= f.input :description,
                placeholder: "Description du jeu",
                label: "Description" %>
    <%= f.input :price_per_day,
                placeholder: "5",
                label: "Prix par jour" %>
    <%= f.input :address,
                input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                wrapper_html: {
                  data: {
                    controller: "address-autocomplete",
                    address_autocomplete_api_key_value: ENV['MAPBOX_API_KEY']
                    }} %>
    <div class="text-center pt-3">
      <%= f.button :submit,"CREER LE JEU", class: "btn btn-primary " %>
      <%= link_to "ANNULER", games_path, class: "btn btn-danger text-white" %>
    </div>
    <% end %>
    </div>
  </div>
  <%= link_to "< Liste", games_path %>
</div>
