<div class="container">
  <% if current_user %>
    <div class="head-container">
      <h1>Mes locations</h1>
      <h4><%= current_user.username %></h4>
    </div>
    <% current_user.rentals.each do |rental| %>
      <%= link_to rental_path(rental) do %>
      <div class="rental-card">
        <h3><%= rental.game.name %></h3>
        <p>propriétaire : <%= rental.game.user.username %></p>
        <p>
        <% if (rental.end_date - rental.start_date).to_i == 1 %>
          1 jour
        <% else %>
          <%= (rental.end_date - rental.start_date).to_i %> jours
        <% end %>
        , du <%= rental.start_date %> au <%= rental.end_date %>
        </p>
        <p><%= "%.2f" % rental.price %> €</p>
        <div class="rental-status"><%= rental.status %></div>
      </div>
      <% end %>
    <% end %>
    
  <% else %>
    <div class="head-container">
      <h4>Veuillez vous connecter pour accéder à vos locations</h4>
      </div>
  <% end %>
  <%= link_to "< Tous les jeux", games_path %>
</div>
