<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
    <%= simple_form_for @game do |f| %>
    <%= f.input :name, 
                placeholder: "Nom du jeu",
                label: "Jeu" %>
    <%= f.input :description,
                placeholder: "Description du jeu",
                label: "Description" %>
    <%= f.input :price_per_day,
                placeholder: "5",
                label: "Prix par jour" %>
    <%= f.input :address,
                placeholder: "1 rue de la liberté",
                label: "Adresse" %>
    <div class="text-center">
      <%= f.button :submit, "SAUVEGARDER", class: "btn btn-primary" %>
      <%= link_to "ANNULER", games_path, class: "btn btn-danger text-white" %>
    </div>
    <% end %>
    </div>
  </div>
</div>