<div class="container">

  <div class="head-container">
    <div class="row">
      <div class="col-10 hello-user ">
        <h1>Bonjour <%=current_user ? current_user.username : ""%>, tu cherches un jeu?</h1>
      </div>
      <div class="col-2 text-center">
        <%= link_to '+', new_game_path, class: "btn btn-primary m-1" %>
      </div>
    </div>
  </div>

  <div class="filters-container mt-2">
    <div class="row">
      <div class="col">
        <p>Filter 1: Localisation</p>
      </div>
      <div class="col">
        <p>Filter 2: Choix du jeu</p>
      </div>
    </div>
  </div>

  <div class="games-container mt-4">
    <% @games.each do |game| %>
      <div class="game-card" data-controller="show-games-details">
        <h3><%= game.name%></h3>
        <h6><i>publié par</i> <%= game.user.username%></h6>
        <h6><%= game.address%></h6>
        <div class="game-card-side-elements">
          <h3><%= game.price_per_day %> € / j</h3>
          <button class="btn btn-primary"
          data-action="click->show-games-details#display"
          >Voir +</button>
        </div>

        <div class="desc-and-rental-form d-none" data-show-games-details-target="description">
          <p><%= game.description %></p>
          <div class="dates-picker" data-controller="price-calculator"
          data-price-calculator-price-value=<%=game.price_per_day%>>
            <%= render "shared/rental_form", game: game %>
            <% @price_per_day = game.price_per_day %>
          <p class="p-1 ml-2" data-price-calculator-target="price"></p>
          <%= link_to "Modifier mon annonce", edit_game_path(game), class: "btn btn-warning text-white" %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
