<div class="container" data-controller="location">

  <div class="head-container">
    <div class="row">
      <div class="col-10 mb-4 hello-user ">
        <h1>Bonjour <%=current_user ? current_user.username : ""%>, tu cherches un jeu?</h1>
      </div>
    </div>
  </div>

  <div class="filters-container mt-2">
    <div class="row">
      <div class="col">
        <%= form_with url: games_path, method: :get, local: true, class: "d-flex col-12" do |form| %>
          <%= form.text_field :search, class: "form-control", placeholder: "Jeu, description, adresse" %>
          <%= form.submit "Chercher", class: "btn btn-primary mx-1" %>
          <button class="btn btn-primary" data-action="click->location#findNear">Geolocalise moi</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="games-container mt-4">
    <% @games.each do |game| %>
      <div class="game-card shadow mb-3 p-3 rounded-4" data-controller="show-games-details">
        <div class="row">
          <div class="col-3 game-card-photo">
            <% if game.picture.key %>
              <%= cl_image_tag(game.picture.key, class: "game-img") %>
            <% else %>
              <%= image_tag "logo-tresjoueurs.png", class: "game-img" %>
            <% end %>
          </div>

          <div class="col-6 game-card-main-content">
            <h3><%= game.name%></h3>
            <div>
              <p><i>publié par</i> <%= game.user.username%></p>
              <p><% if game.quarter && game.city %>
              <%= game.quarter %>, <%= game.city %>
              <% elsif game.quarter.nil? && game.city %>
                <%= game.city %>
              <% else %>
                <%= game.address %>
              <%end %></p>
            </div>
          </div>
          <div class="col-3 game-card-side-elements">
            <% if game.price_per_day %>
            <h3><%= game.price_per_day >= 10 ? game.price_per_day.round(0) : game.price_per_day.round(1) %> €</h3>
            <% end %>
            <p class="per-day">par jour</p>
            <button class="btn btn-primary mt-2 p-2"
            data-action="click->show-games-details#display"
            data-show-games-details-target="voir">
            Voir +</button>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="desc-and-rental-form d-none pt-3" data-show-games-details-target="description">
            <p><%= game.description %></p>
            <div class="dates-picker mt-3" data-controller="price-calculator"
            data-price-calculator-price-value=<%=game.price_per_day%>>
            <% if current_user != game.user %>
              <%= render "shared/rental_form", game: game %>
            <% end %>
              <% @price_per_day = game.price_per_day %>
            <p class="p-1 ml-2" data-price-calculator-target="price"></p>
            <% if current_user == game.user %>
              <%= link_to "Modifier mon annonce", edit_game_path(game), class: "btn btn-warning text-white" %>
              <%= link_to "Supprimer mon annonce", game_path(game),
                          data: {
                            turbo_method: :delete,
                            turbo_confirm: 'Etes-vous sûr.e?'},
                            class: "btn btn-danger text-white"%>
            <% end %>
          </div>

        </div>
      </div>
      <%= link_to new_game_path, class: "fixed-button" do %>
      <i class="fa-solid fa-plus create-icon"></i>
      <% end %>
    </div>
  <% end %>
</div>
