<div class="container">

  <div class="head-container">
    <div class="row">
      <div class="col-10 hello-user ">
        <h1>Mes annonces de jeux </h1>
        <h4><%=current_user ? current_user.username : ""%></h4>
      </div>
      <div class="col-2 text-center">
        <%= link_to '+', new_game_path, class: "btn btn-primary m-1" %>
      </div>
    </div>
  </div>


  <div class="games-container mt-4">
    <% @my_games.each do |game| %>

      <div class="game-card" data-controller="show-games-details">
        <div class="row">
          <div class="col-3 game-card-photo">
            <p>photo placeholder</p>
          </div>

          <div class="col-6 game-card-main-content">
            <h3><%= game.name%></h3>
            <h6><i>publié par</i> <%= game.user.username%></h6>
            <h6><%= game.address%></h6>
          </div>

          <div class="col-3 game-card-side-elements">
            <h3><%= game.price_per_day %> € / j</h3>
            <button class="btn btn-primary"
            data-action="click->show-games-details#display"
            >Voir +</button>
          </div>
        </div>

        <div class="row">
          <div class="desc-and-rental-form d-none" data-show-games-details-target="description">
            <p><%= game.description %></p>
            <div class="dates-picker" data-controller="price-calculator"
            data-price-calculator-price-value=<%=game.price_per_day%>>
            <% if current_user != game.user %>
              <%= render "shared/rental_form", game: game %>
            <% end %>
              <% @price_per_day = game.price_per_day %>
            <p class="p-1 ml-2" data-price-calculator-target="price"></p>
            <% if current_user == game.user %>
              <%= link_to "Modifier mon annonce", edit_game_path(game), class: "btn btn-warning text-white" %>
              <%= link_to "Supprimer mon annonce", game_path(game),
                          data: {
                            turbo_method: :delete,
                            turbo_confirm: 'Etes-vous sûr.e?'},
                            class: "btn btn-danger text-white"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
